<div>
  <.form
    let={f}
    for={@changeset}
    id="message-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  
    <%= hidden_input f, :user_id, value: @user.id %>
    <%= hidden_input f, :conversation_id, value: @conversation.id %>

    
    <div class="flex">
    <%= textarea f, :content, class: "inputs w-full" %>
    <%= error_tag f, :content %>

    <%= submit "Save", class: "button", phx_disable_with: "Saving..." %>
    </div>
  
  </.form>
</div>
