@layer components {
  .invalid-feedback {
    color: #a94442;
    display: block;
    margin: -1rem 0 2rem;
  }

  .alert {
    @apply px-4 py-8 my-6 rounded-lg text-xl text-center;
    border: 1px solid transparent;
  }
  .alert-info {
    @apply text-primary-900 bg-primary-200 border-primary-100;
  }
  .alert-warning {
    @apply text-accent-600 bg-accent-200 border-accent-100;
  }
  .alert-danger {
    @apply text-accent-200 bg-accent-800 border-accent-700;
  }
  .alert p {
    margin-bottom: 0;
  }
  .alert:empty {
    display: none;
  }
}
