<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "TeamThink", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-pattern">
    <header class="bg-primary-900 py-6 text-white">
      <section class="container">
        <nav class="flex justify-end items-center">
          <a class="mr-auto" href={Routes.page_path(@conn, :index)}>
          <h1 class="text-4xl font-bold text-white flex items-center">
            <.logo class="h-12 mr-4" />
            TeamThink
          </h1>
          </a>
          <ul class="flex mr-4 items-center text-xl">
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
            <% end %>
          </ul>
          <%= render "_user_menu.html", assigns %>
        </nav>

      </section>
    </header>
    
    <%= @inner_content %>


    <footer class="bg-primary-900">
        <section class="container py-16 grid grid-rows-3 gap-4 justify-center text-white">
            <ul class="flex justify-center space-x-4">
              <li>About</li>
              <li>Jobs</li>
              <li>Technology</li>
            </ul>
            <ul class="flex justify-center space-x-4">
              <li><Svg.SocialIcons.facebook class="h-8" /></li>
              <li><Svg.SocialIcons.twitter class="h-8" /></li>
              <li><Svg.SocialIcons.github class="h-8" /></li>
            </ul>
            <p class="text-center">&copy;2020 Justin Morgan</p>
        </section>
    </footer>
  </body>
</html>
